{% extends 'base.html' %}

{% block content %}
<div class="grid grid-rows-2">
    <div class="py-20 flex">
        <h1> NAME: {{detail_list.title}} </h1>
        <h1> YEAR: {{detail_list.year}} </h1>
        <h1> DESCRIPTION: {{detail_list.description}} </h1>

        <div class="relative py-3 sm:max-w-xl sm:mx-auto">
            </div>
        </div>
    </div>
    <div>
        <div class="column max-w-3l py-1 sm:px-6 lg:px-8">

            <div class="px-4 py-6 sm:px-0">

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}